@font-face {
  font-weight: 400;
  font-family: Montserrat-Regular;
  src: url("../../fonts/montserrat-v23-latin_cyrillic-regular.woff");
}

@font-face {
  font-weight: 700;
  font-family: Montserrat-Bold;
  src: url("../../fonts/montserrat-v23-latin_cyrillic-700.woff");
}