@font-face {
  font-family: 'Buyan-Bold';
  src: local('BuyanBold'),
    url(../../fonts/BuyanBold.ttf);
}

@font-face {
  font-family: 'SofiaSans-Light';
  src: local('SofiaSans-Light'),
    url(../../fonts/SofiaSans-Light.ttf);
}

@font-face {
  font-family: 'SofiaSans-Regular';
  src: local('SofiaSans-Regular'),
    url(../../fonts/SofiaSans-Regular.ttf);
}

@font-face {
  font-family: 'SofiaSans-Bold';
  src: local('SofiaSans-Bold'),
    url(../../fonts/SofiaSans-Bold.ttf);
}